DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nucmed
JWT_SECRET=change_me_super_secret_jwt_key
TEACHER_IDS=651234567,TEACHER01
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
SOCKET_PORT=3001
GOOGLE_SHEETS_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
